@layout.app({ title: "Sign up" })
  @slot('meta')
    <meta name="description" content="The signup page" />
  @endslot
  
  @slot('main')
    <h1 class="text-text-clr underline">
      Signup page
    </h1>
  @endslot
@end
