@font-face {
  font-family: 'Roboto';
  src:
    url('/public/fonts/Roboto-Bold.woff2') format('woff2'),
    url('/public/fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('/public/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/public/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src:
    url('/public/fonts/Orbitron-Bold.woff2') format('woff2'),
    url('/public/fonts/Orbitron-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src:
    url('/public/fonts/Orbitron-Regular.woff2') format('woff2'),
    url('/public//fonts/Orbitron-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';
@source "../views";

@theme {
  --color-white-background: #f9f9fc;
  --color-primary-clr: #4e4e54;
  --color-secondary-clr: #9e9ecf;
  --color-accent-clr: #aec775;
  --color-text-clr: #0a0a0d;

  --color-btn-text-dark: #0a0a0d;
  --color-btn-text-white: #f9f9fc;
  --color-btn-background-primary: #4e4e54;
  --color-btn-background-secondary: #9e9ecf;
  --color-btn-background-accent: #0a0a0d;

  --color-border-color: #0a0a0d;
  --font-orbitron: 'Orbitron', 'Roboto';
  --font-orbitron--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  --font-orbitron--font-variation-settings: 'opsz' 32;
  --font-Roboto: 'Roboto', 'Orbitron';
  --font-orbitron--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  --font-orbitron--font-variation-settings: 'opsz' 32;
}

body {
  font-family:
    'Roboto',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 18px;
}
