@font-face {
  font-family: 'Roboto';
  src:
    url('/public/fonts/Roboto-Bold.woff2') format('woff2'),
    url('/public/fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('/public/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/public/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src:
    url('/public/fonts/Orbitron-Bold.woff2') format('woff2'),
    url('/public/fonts/Orbitron-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src:
    url('/public/fonts/Orbitron-Regular.woff2') format('woff2'),
    url('/public//fonts/Orbitron-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';
@source "../views";

@theme {
  --color-white-background: #f9f9fc;
  --color-primary: #4e4e54;
  --color-secondary: #9e9ecf;
  --color-accent: #aec775;
  --color-text: #0a0a0d;

  --color-btn-text-dark: #0a0a0d;
  --color-btn-text-white: #f9f9fc;
  --color-btn-background-primary: #4e4e54;
  --color-btn-background-secondary: #9e9ecf;
  --color-btn-background-accent: #0a0a0d;

  --color-border-color: #0a0a0d;
}
