@layout.app({ title: "Home" })
  @slot('meta')
    <meta name="description" content="Welcome to the expense tracker" />
  @endslot
  
  @slot('main')
    <h1 class="text-text-clr underline">
      Hello world
    </h1>
  @endslot
@end
